{% extends 'base.html' %}

{% block title %}RP | Criterium {{ year }}-{{ year2 }} | {{ name }}{% endblock title %}
{% block content %}
<h4><strong>Criterium edizione
  <a href="/criterium/{{ year }}-{{ year2 }}/">{{ year }}-{{ year2 }}</a> 
  per l'atleta {{ name }}</strong></h4>
<hr class="mb-4">
{% if all_races %}
  <h4>Lista {{ status }} delle gare</h4>
  <ul>
  {% for race, points in all_races.items %}
    <li>
      <a href="{{ race.get_path }}">{{ race.title }}, </a>
      {{ points }} punti
    </li>
  {% endfor %}
  </ul>
{% else %}
    <div class="col-md-12">
        <h4>Non sono registrate gare in questa edizione per questo atleta.</h4>
    </div>
{% endif %}
<hr class="mb-4">
  <nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    <li><a href="/criterium/{{ year0 }}-{{ year }}/athlete/{{ id }}" class="page-link">&laquo; PRECEDENTE </a></li>
    <li><a href="/criterium/{{ year2 }}-{{ year3 }}/athlete/{{ id }}" class="page-link"> SUCCESSIVA &raquo;</a></li>
  </ul>
  </nav>
{% endblock content %}
