{% extends 'users/account.html' %}

{% block account_options %}
  {% if user.first_name %}
    <a class="btn btn-success" role="button" href="/accounts/profile/{{ user.id }}/change">
      Cambia i dati generali</a>
  {% else %}
    <a class="btn btn-secondary" role="button" href="/accounts/profile/{{ user.id }}/change">
      Aggiungi i dati generali</a>
  {% endif %}
  {% if user.profile.gender %}
    <a class="btn btn-success" role="button" href="/accounts/profile/{{ user.id }}/change/registry">
      Cambia l'anagrafica</a>
  {% else %}
    <a class="btn btn-secondary" role="button" href="/accounts/profile/{{ user.id }}/change/registry">
      Aggiungi l'anagrafica</a>
  {% endif %}
  {% if user.profile.address %}
    <a class="btn btn-success" role="button" href="/accounts/profile/{{ user.id }}/change/address">
      Cambia l'indirizzo</a>
  {% else %}
    <a class="btn btn-secondary" role="button" href="/accounts/profile/{{ user.id }}/change/address">
      Aggiungi l'indirizzo</a>
  {% endif %}
  {% if user.profile.med_cert %}
    <a class="btn btn-success" role="button" href="/accounts/profile/{{ user.id }}/change/course">
      Cambia il corso</a>
  {% else %}
    <a class="btn btn-secondary" role="button" href="/accounts/profile/{{ user.id }}/change/course">
      Aggiungi il corso</a>
  {% endif %}
  <a class="btn btn-danger" role="button" href="/accounts/profile/{{ user.id }}/delete">
    Cancella account</a>
{% endblock account_options %}
