<hr class="mb-4">
{% if can_add_child %}
  <p>Puoi aggiungere figli che corrono con noi. Gestirai il loro account da
  questa stessa pagina.</p>
  <a class="btn btn-success" role="button" href="/accounts/profile/add_child">
    Aggiungi figlio/a</a>
  {% if children %}
    <hr class="mb-4">
    {% for child in children %}
      <h4><strong>Account di {{ child.get_full_name }}</strong></h4>
      <p>Nome utente: <strong>{{ child.username }}</strong></p>
      <a class="btn btn-success" role="button" href="/accounts/profile/{{ child.id }}/change?parent={{ user.id }}">
        Cambia i dati generali</a>
      {% if child.profile.gender %}
        <a class="btn btn-success" role="button" href="/accounts/profile/{{ child.id }}/change/registry?parent={{ user.id }}">
          Cambia l'anagrafica</a>
      {% else %}
        <a class="btn btn-secondary" role="button" href="/accounts/profile/{{ child.id }}/change/registry?parent={{ user.id }}">
          Aggiungi l'anagrafica</a>
      {% endif %}
      {% if child.profile.med_cert %}
        <a class="btn btn-success" role="button" href="/accounts/profile/{{ child.id }}/change/course?parent={{ user.id }}">
          Cambia il corso</a>
      {% else %}
        <a class="btn btn-secondary" role="button" href="/accounts/profile/{{ child.id }}/change/course?parent={{ user.id }}">
          Aggiungi il corso</a>
      {% endif %}
      <a class="btn btn-danger" role="button" href="/accounts/profile/{{ child.id }}/delete_child">
        Cancella account</a>
      {% if not forloop.last %}
        <hr class="mb-4">
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <p><a href="/contacts/?subject=Aggiungere figli">Contatta l'amministrazione</a>
    per poter aggiungere eventuali figli.</p>
{% endif %}
