{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Svincola account{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Svincola l'account di {{ name }}</strong></h4>
    <p>Crescono in fretta, eh? Prima di svincolare l'account, verifica che
      sia aggiornata la mail del figlio.</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
    <form action="" method="post" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.release|as_crispy_field }}
        </div>
      </div>
        {% include 'users/profile_includes/button.html' %}
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock content %}
