{% extends 'base.html' %}

{% block title %}RP | Archivio per categoria{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Archivio per categoria</strong></h4>
    <p>Qui di seguito una lista delle categorie utilizzate nel vecchio sito</p>
    <hr class="mb-4">
    <ul>
      <li>
        <a href="/archivio/categoria/4">Giovanile</a>
          <ul>
            <li>
              <a href="/archivio/categoria/76">Appuntamenti</a>
            </li>
            <li>
              <a href="/archivio/categoria/79">Cronache</a>
            </li>
            <li>
              <a href="/archivio/categoria/13">Programmazione</a>
            </li>
            <li>
              <a href="/archivio/categoria/99">Area protetta</a>
            </li>
            <li>
              <a href="/archivio/categoria/178">Soci genitori</a>
            </li>
          </ul>
      </li>
      <li>
        <a href="/archivio/categoria/2">Senior / Master</a>
        <ul>
          <li>
            <a href="/archivio/categoria/85">Appuntamenti</a>
          </li>
          <li>
            <a href="/archivio/categoria/86">Cronache</a>
          </li>
          <li>
            <a href="/archivio/categoria/3">Criterium</a>
          </li>
          <li>
            <a href="/archivio/categoria/177">Rifondaroli in gara</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/archivio/categoria/1">Miscellanea</a>
      </li>
      <li>
        <a href="/archivio/categoria/78">Temi corsaioli</a>
      </li>
      <li>
        <a href="#">Blogs</a>
        <ul>
          <li>
            <a href="/archivio/categoria/184">Running Comics</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/archivio/categoria/17">Questioni societarie</a>
      </li>
      <li>
        <a href="/archivio/categoria/18">Website</a>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
