<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
  {{ event.date|date:"l" }}</li>
<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
  {{ event.date|date:"H:i" }}</li>
<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
  <a href="/luoghi/{{ event.location.slug }}">{{ event.location.title }}</a></li>

{% if event.manager %}
  <li class="list-inline-item">
    <i class="fa fa-user" aria-hidden="true"></i>
    {% if user.is_authenticated %}
      <a href="/contacts/?recipient={{ event.manager_id }}">
        {{ event.manager.get_full_name_reverse }}</a>
    {% else %}
      {{ event.manager.get_full_name_reverse }}
    {% endif %}
  </li>
{% endif %}

<li class="list-inline-item">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  Ultima modifica: {{ event.last_updated|date:"d M Y" }}
</li>

{% if perms.pagine.change_event %}
<li class="list-inline-item">
  <i class="fa fa-pencil" aria-hidden="true"></i>
  <a href="/admin/pagine/event/{{ event.id }}/change/">Modifica</a>
</li>
{% endif %}
