{% extends 'base.html' %}

{% block title %}RP | {{ event.title }}{% endblock title %}
{% block content %}
      {% if event.carousel.render %}
        <div class="row">
          {{ event.carousel.render }}
        </div>
      {% elif event.get_image %}
        <div class="row">
          <img src="{{ event.get_image.url }}" width="100%" alt="{{ event.intro }}" />
        </div>
      {% endif %}
      <div class="row row-striped">
        <div class="col-md-2 text-right">
          <h1 class="display-4"><span class="badge badge-{{ event.get_badge_color }}">{{ event.date|date:"j" }}</span></h1>
          <a href="/calendario/{{ event.date|date:"Y/m" }}/"><h4>{{ event.date|date:"M-Y" }}</h4></a>
        </div>
        <div class="col-md-10">
          <h3 class="text-uppercase"><strong>{{ event.title }}</strong></h3>
          <p>{{ event.intro }}</p>
          <ul class="list-inline">
            {% include 'pagine/event_list_inline.html'%}
            {% include 'pagine/event_list_inline_2.html'%}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"
          style="margin-right: 15px; margin-left: 15px; margin-top: 15px">
        {% if event.get_chronicle %}
          <div class="row">
            <h4><strong>Cronaca</strong></h4>
          </div>
          {% if event.chron_stream.render %}
            {{ event.chron_stream.render }}
          {% else %}
          <p>Ci stiamo lavorando! intanto aggiungete qualche contributo.</p>
          {% endif %}
          <hr class="mb-4">
          {% if user.is_authenticated %}
            {% if event.restr_stream.render %}
            <div class="row">
              <h4><strong>Area riservata</strong></h4>
            </div>
              {{ event.restr_stream.render }}
            <hr class="mb-4">
            {% endif %}
            <div class="row">
              <h4 id="upload-anchor"><strong>Contributi</strong></h4>
            </div>
            <div>
              <a href="/calendario/contributi/?event_id={{ event.id }}">
              Aggiungi un contributo</a>
            </div>
            {% if event.get_uploads %}
            <hr class="mb-4">
            <div class="card-deck">
              {% for upload in event.get_uploads %}
                {% include 'pagine/uploads.html' %}
              {% endfor %}
            </div>
            {% endif %}
          {% else %}
            <div>
              <p>Esegui il <a href="/login/?next={{ request.get_full_path }}">&nbsp;login&nbsp;</a>
                se vuoi visitare l'area riservata ed aggiungere un contributo</p>
            </div>
          {% endif %}
          <hr class="mb-4">
        {% endif %}
          {% if event.upgrade_stream.render %}
            <div class="row">
              <h4><strong>Aggiornamenti</strong></h4>
            </div>
              {{ event.upgrade_stream.render }}
            <div class="row">
              <h4><strong>Articolo originale</strong></h4>
            </div>
          {% endif %}
            {{ event.stream.render }}
        </div>
      </div>
{% endblock content %}
